@import "_libs";

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    line-height: 24px;
    color: #A07B50;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    height: 100vh;
    background-color: #181617;
    background-image: url("../images/header-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &__wrapper {
        padding-top: 46px;
    }
    &__corona {
        display: block;
        margin: 0 auto 110px;
    }
    &__content {
        max-width: 345px;
        margin-left: 100px;
    }
    &__suptitle {
        display: block;
        margin-bottom: 18px;
    }
    &__title {
        font-family: 'Yeseva One', cursive;
        color: #fff;
        font-size: 52px;
        line-height: 60px;
        font-weight: 400;
        margin: 0;
        margin-bottom: 31px;
    }
    &__text {
        max-width: 270px;
        margin-bottom: 55px;
    }
    &__btn {
        display: inline-block;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        border: 0.5px solid #A07B50;
        text-decoration: none;
        cursor: pointer;
        padding: 13px 38px;
    }
    &__social-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
        position: absolute;
        bottom: 153px;
        left: 78px;
        &::before {
            content: "";
            position: absolute;
            width: 0.5px;
            height: 77px;
            background-color: rgba(255, 255, 255, 0.61);
            top: -109px;
        }
    }
    &__social-item {
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__social-vk {
        display: block;
        width: 13px;
        height: 8px;
        background: url("../images/icon-vk.svg") no-repeat center center;
    }
    &__social-twitter {
        display: block;
        width: 15px;
        height: 10px;
        background: url("../images/icon-twitter.svg") no-repeat center center;
    }
    &__social-facebook {
        display: block;
        width: 5px;
        height: 10px;
        background: url("../images/icon-facebook.svg") no-repeat center center;
    }
}

    @media (max-width: 1023px) {
        .header {
            background-image: url("../images/tablet-bg.png");
            background-position: right bottom;
            background-size: auto;
            &__wrapper {
                padding-top: 34px;
            }
            &__corona {
                display: none;
            }
            &__content {
                margin-top: 130px;
                margin-left: 26px;
            }
            &__suptitle {
                display: none;
            }
            &__title {
                margin-bottom: 127px;
            }
            &__text {
                display: none;
            }
            &__social-list {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                position: absolute;
                top: 34px;
                left: 41px;
                &::before {
                    display: none;
                }
            }
            &__social-item {
                margin-right: 11px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    @media (max-width: 630px) {
        .header {
            background-image: url("../images/mobile-bg.png");
            background-size: auto 41%;
            &__wrapper {
                padding-top: 27px;
                text-align: center;
            }
            &__corona {
                display: block;
                margin-bottom: 0;
                max-width: 50px;
            }
            &__content {
                max-width: 100%;
                margin-left: 0;
                margin-top: 51px;
            }
            &__suptitle {
                display: block;
                margin-bottom: 5px;
                font-size: 14px;
                line-height: 21px;
            }
            &__title {
                max-width: 235px;
                margin: 0 auto;
                margin-bottom: 16px;
                font-size: 36px;
                line-height: 42px;  
            }
            &__text {
                display: block;
                max-width: 230px;
                font-size: 14px;
                line-height: 20px;
                margin: 0 auto;
                margin-bottom: 34px;
            }
            &__btn {
                font-size: 12px;
                line-height: 14px;
                padding: 12px 18px;
            }
            &__social-list {
                display: none;
            }
        }
    }